body {
background: #202020;
color: #2f006f; /* 1 */
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
color: #2f006f; /* 1 */
}
.admonitionblock, blockquote {
border-color: #afafaf; /* 5 */
}
#head {
background: #cfcfcf; /* 5 */
}
#menu {
background: #cfcfcf; /* 5 */
}
#trail {
background: #cfcfcf; /* 5 */
}
#menu ul {
background-image: url('/img/menubg.png');
background-color: #7920c5; /* 3 */
}
#menu li a {
color: #cfcfcf; /* 6 */
}#menu li a:hover {
background-image: url('/img/menubghl.png');
background-color: #808080; /* 6 */
color: #7920c5; /* 3 */
}
#foot {
color: #8a6db1;
}
